* {box-sizing: border-box;}

body {
        margin: 0;
}
.image {width: 100%;
        height: auto;}

.fluid-width {width: 100%;
                margin: auto;
            }

main {background-color: #efc68f;
    padding-top: 3.5em;
        margin: -2em;}

#main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-top: -1em;
} 

#intro-text {
        display: grid;
        grid-column: 1/13;
        grid-row: 1/2;
        background-color: #efc68f;
}

h1 {padding-left: 1.5em;}

h2 a:link {text-decoration: none;}
h2 a:hover {text-decoration: underline;}
h2 a:visited {text-decoration: none;}

p {padding-left: 1em;
    font-size: 18px;
        color: #000000;
        background-color: #efc68f;}


p a:link {color: #000000;}
p a:hover {color: #0000ff;}
p a:visited {color: #000000;}


ul li {font-size: 20px;
        font-weight: bold;}

li a:link {color: #000000;}
li a:hover {color: #0000ff;}
li a:visited {color: #000000;}




#section1 {display: grid;
            grid-column: 1/13;
            grid-row: 2/3;
           
            background-color: #f9d49d;
            padding-top: 1.5em;
            padding-left: 1.5em;
            padding-bottom: 1.5em;}

#images-div {
        display: grid;
        grid-column: 1/13;
        grid-row: 3/4;
        background-color: #fcdba2;
}

#img-div {
            background-color: #fcdba2;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            padding-left: 2em;
            padding-right: 2em;}


 
#img-div2 {
                background-color: #fcdba2;
                padding-top: 1.5em;
                padding-bottom: 1.5em;
                padding-left: 2em;
                padding-right: 2em;}



#img-div3 {
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 2em;
        padding-right: 2em;}

#img-div4 {
background-color: #fcdba2;
padding-top: 1.5em;
padding-bottom: 1.5em;
padding-left: 2em;
padding-right: 2em;}

#img-div5 {
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 2em;
        padding-right: 2em;}


        #img-div6 {
                background-color: #fcdba2;
                padding-top: 1.5em;
                padding-bottom: 1.5em;
                padding-left: 2em;
                padding-right: 2em;}

footer {width: 100%;
        padding: 1.5em;
       
        font-size: 18px;
        color: #ffffff;
        background-color: #b58a4a;
        
        text-align: center;
        }

footer a:link {color: #ffffff;}
footer a:hover {color: #0000ff;}
footer a:visited {color: #ffffff;}



@media (min-width: 481px) {

    .fluid-width {width: 95%;
        margin: auto;
    }

    #section1 {
        background-color: #f9d49d;
        padding-top: 1.5em;
        padding-left: 1.5em;
        padding-bottom: 1.5em;
        }

#img-div {
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
       }

#img-div2 {
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
       }


#img-div3 {
background-color: #fcdba2;
padding-top: 1.5em;
padding-bottom: 1.5em;
padding-left: 2em;
padding-right: 2em;
}

#img-div4 {
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        }




#img-div5 {
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        }

        #img-div6 {
                background-color: #fcdba2;
                padding-top: 1.5em;
                padding-bottom: 1.5em;
                padding-left: 2em;
                padding-right: 2em;
                }


}

@media (min-width: 769px) {


#intro-text {display: grid;
        grid-column: 1/13;
        grid-row: 1/2;
    padding-bottom: 2em;
}
    .fluid-width {width: 90%;
        margin: auto;
    }

#section1 {display: grid;
        grid-column: 1/7;
        grid-row: 2/3;
        background-color: #f9d49d;
        padding-top: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 0.5em;
        
        margin-right: -0.3em;}


#images-div {display: grid;
            grid-column: 7/13;
            grid-row: 2/3;
            background-color: #fcdba2;
            
            margin-left: -0.3em;}       

#img-div {
        width: 99%;
        margin: auto;
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
        padding-left: 2em;
        padding-right: 2em;
        }


#img-div2 {
            width: 99%;
            margin: auto;
            background-color: #fcdba2;
            padding-top: 1.5em;
            padding-bottom: 1.7em;
            padding-left: 2em;
            padding-right: 2em;
}

#img-div3 {
        width: 99%;
        margin: auto;
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
        padding-left: 2em;
        padding-right: 2em;
        }

#img-div4 {
width: 99%;
margin: auto;
background-color: #fcdba2;
padding-top: 1.5em;
padding-bottom: 1.7em;
padding-left: 2em;
padding-right: 2em;
}

#img-div5 {
        width: 99%;
        margin: auto;
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
        padding-left: 2em;
        padding-right: 2em;
        }


        #img-div6 {
                width: 99%;
                margin: auto;
                background-color: #fcdba2;
                padding-top: 1.5em;
                padding-bottom: 1.7em;
                padding-left: 2em;
                padding-right: 2em;
                }






}

@media (min-width: 1024px) {

#section1 {display: grid;
        grid-column: 1/6;
        grid-row: 2/3;
        background-color: #f9d49d;
        padding-top: 1.5em;
        padding-left: 1.5em;
        padding-bottom: 0.5em;
        }

#images-div {display: grid;
            grid-column: 6/13;
            grid-row: 2/3;
            background-color: #fcdba2;
            
            margin-left: 0;}

    #img-div {
        width: 90%;
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
        padding-left: 2em;
        padding-right: 2em;
        }


 #img-div2 {
            width: 90%;
            background-color: #fcdba2;
            padding-top: 1.5em;
            padding-bottom: 1.7em;
            padding-left: 2em;
            padding-right: 2em;
            }

#img-div3 {
        width: 90%;
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
        padding-left: 2em;
        padding-right: 2em;
        }

#img-div4 {
        width: 90%;
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
        padding-left: 2em;
        padding-right: 2em;
        }

#img-div5 {
        width: 90%;
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
        padding-left: 2em;
        padding-right: 2em;
        }

        #img-div6 {
                width: 90%;
                background-color: #fcdba2;
                padding-top: 1.5em;
                padding-bottom: 1.7em;
                padding-left: 2em;
                padding-right: 2em;
                }


}

@media (min-width: 1200px) {


        #section1 {display: grid;
                grid-column: 1/6;
                grid-row: 2/3;
                background-color: #f9d49d;
                padding-top: 1.5em;
                padding-left: 1.5em;
                padding-bottom: 0.5em;
                }


        #images-div {display: grid;
                grid-column: 6/13;
                grid-row: 2/3;
                background-color: #fcdba2;
                
                margin-left: 0;}
}

@media (min-width: 1350px) {


        #section1 {display: grid;
                grid-column: 1/6;
                grid-row: 2/3;
                background-color: #f9d49d;
                padding-top: 1.5em;
                padding-left: 1.5em;
                padding-bottom: 0.5em;
                }


        #images-div {display: grid;
                grid-column: 6/13;
                grid-row: 2/3;
                background-color: #fcdba2;
                
                margin-left: 0;}
}

/*test change to try to commit to github again*/