* {box-sizing: border-box;}
.image {width: 100%;
        height: auto;}

.fluid-width {width: 100%;
                margin: auto;
            margin-top: -1em;}

main {background-color: #efc68f;
    padding-top: 3.5em;
        margin: -2em;}

h1 {padding-left: 1.5em;}

h2 a:link {text-decoration: none;}
h2 a:hover {text-decoration: underline;}
h2 a:visited {text-decoration: none;}

p {padding-left: 1em;
    font-size: 18px;
        color: #000000;
        background-color: #efc68f;}


p a:link {color: #000000;}
p a:hover {color: #0000ff;}
p a:visited {color: #000000;}


ul li {font-size: 20px;
        font-weight: bold;}

li a:link {color: #000000;}
li a:hover {color: #0000ff;}
li a:visited {color: #000000;}


#section1 {
           
            background-color: #f9d49d;
            padding-top: 1.5em;
            padding-left: 1.5em;
            padding-bottom: 1.5em;}

#img-div {
            background-color: #fcdba2;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            padding-left: 2em;
            padding-right: 2em;}


 
#img-div2 {
                background-color: #fcdba2;
                padding-top: 1.5em;
                padding-bottom: 1.5em;
                padding-left: 2em;
                padding-right: 2em;}

footer {width: 100%;
        padding: 1.5em;
       
        font-size: 18px;
        color: #ffffff;
        background-color: #b58a4a;
        
        text-align: center;
        }

footer a:link {color: #ffffff;}
footer a:hover {color: #0000ff;}
footer a:visited {color: #ffffff;}

#margin-special {margin-top: 0;}

@media (min-width: 481px) {

    .fluid-width {width: 95%;
        margin: auto;
    margin-top: -1em;}

    #section1 {
        background-color: #f9d49d;
        padding-top: 1.5em;
        padding-left: 1.5em;
        padding-bottom: 1.5em;
        }

#img-div {
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
       }

#img-div2 {
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
       }


}

@media (min-width: 769px) {


#intro-text {
    padding-bottom: 2em;
}
    .fluid-width {width: 90%;
        margin: auto;
    margin-top: -1em;}

#section1 {float: left;
        width: 50%;
        background-color: #f9d49d;
        padding-top: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 0.5em;
        min-height: 1250px;
        margin-right: -0.3em;}


#images-div {float: right;
            width: 50%;
            background-color: #fcdba2;
            min-height: 1250px;
            margin-left: -0.3em;}       

#img-div {
        width: 99%;
        margin: auto;
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
        padding-left: 2em;
        padding-right: 2em;
        }


#img-div2 {
            width: 99%;
            margin: auto;
            background-color: #fcdba2;
            padding-top: 1.5em;
            padding-bottom: 1.7em;
            padding-left: 2em;
            padding-right: 2em;
            }

#margin-special {margin-top: -1em;}

footer {clear: both;}


}

@media (min-width: 1024px) {

#section1 {float: left;
        width: 40%;
        background-color: #f9d49d;
        padding-top: 1.5em;
        padding-left: 1.5em;
        padding-bottom: 0.5em;
        min-height: 1500px;}

#images-div {float: right;
            width: 60%;
            background-color: #fcdba2;
            min-height: 1500px;
            margin-left: 0;}

    #img-div {
        width: 90%;
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
        padding-left: 2em;
        padding-right: 2em;
        }


 #img-div2 {
            width: 90%;
            background-color: #fcdba2;
            padding-top: 1.5em;
            padding-bottom: 1.7em;
            padding-left: 2em;
            padding-right: 2em;
            }

#img-div3 {
        width: 90%;
        background-color: #fcdba2;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
        padding-left: 2em;
        padding-right: 2em;
        }

#margin-special {margin-top: -1em;}

footer {clear: both;}

}

@media (min-width: 1200px) {


        #section1 {float: left;
                width: 40%;
                background-color: #f9d49d;
                padding-top: 1.5em;
                padding-left: 1.5em;
                padding-bottom: 0.5em;
                min-height: 1700px;}


        #images-div {float: right;
                width: 60%;
                background-color: #fcdba2;
                min-height: 1700px;
                margin-left: 0;}
}

@media (min-width: 1350px) {


        #section1 {float: left;
                width: 40%;
                background-color: #f9d49d;
                padding-top: 1.5em;
                padding-left: 1.5em;
                padding-bottom: 0.5em;
                min-height: 2000px;}


        #images-div {float: right;
                width: 60%;
                background-color: #fcdba2;
                min-height: 2000px;
                margin-left: 0;}
}

/*test change to try to commit to github again*/